ul {
  list-style: none;
}
button{
  margin: 8px 0 0 8px;
}
.my-color {
  color: red;
  background-color: skyblue;
}
.my-border {
  border-bottom: 4px solid orange;
}
li {
  cursor: pointer;
}
li.done {
  text-decoration: line-through;
}
